// import any scss files you create (in the public/scss folder) here so your application can use them!

// Learn SASS Documentation: https://sass-lang.com/guide
// SASS Reference: https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// See an example import below
// @import './component.scss';

body {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(rgb(60, 178, 233), rgb(167, 204, 228));
  background-attachment: fixed;
  height: 100vh;
  margin: 0em;
  padding: 0em;

  button {
    font-family: 'Josefin Sans', sans-serif;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .story-container {
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    .wordcount-save {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .save {
        flex-basis: 10em;
        margin: 1em;
        opacity: 0;
        transition: 0.5s all;
      }
    }
    h1 {
      text-align: center;
      border-radius: 2em;
      border-color: black;
    }
  }

  .auth-form-container {
    display: flex;
    flex-direction: row;
    h1 {
      flex: 2;
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  .nav-bar-container {
    padding: 1em;
  }

  .user-home {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    .welcome {
      flex: 1;
    }
    .buttons {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      button {
        background-color: #f44336;
        margin: 10px;
        padding: 0px;
        width: 20vw;
      }
    }
  }

  .stories-list-container {
    padding-left: 5vw;
    padding-bottom: 2em;
    display: flex;
    h1 {
      padding-top: 1.5em;
      font-size: 3em;
    }
    li {
      padding: 1em;
      font-size: 1.5em;
      margin-left: 1vw;
      margin-right: 20vw;
    }
    li:hover {
      color: #df5c05;
    }
  }

  nav {
    margin: 0em;
    // display: flex;
    // justify-content: space-between;
    div {
      margin: 0em;
      display: flex;
      align-items: center;
      justify-content: space-around;
      h1 {
        margin: 0em;
      }
    }
    a {
      display: inline-block;
      font-size: 1.5em;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  form div {
    margin: 1em;
    margin-left: 5em;
    // padding: 1em;
    // width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .suggestion {
    opacity: 0;
    transition: 0.5s all;
  }
}
