// import any scss files you create (in the public/scss folder) here so your application can use them!

// Learn SASS Documentation: https://sass-lang.com/guide
// SASS Reference: https://sass-lang.com/documentation/file.SASS_REFERENCE.html

// See an example import below
// @import './component.scss';

body {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(rgb(60, 178, 233), rgb(167, 204, 228));
  background-attachment: fixed;
  height: 100vh;
  margin: 0em;
  padding: 0em;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .story-container {
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    h1 {
      text-align: center;
      border-radius: 2em;
      border-color: black;
    }
  }

  .nav-bar-container {
    padding: 1em;
    background-image: linear-gradient(to right, rbga(255, 0, 0, 0), rgba(255, 0, 0, 1));
  }

  nav {

    margin: 0em;
    div {
      margin: 0em;
      h1 {
        margin: 0em;
      }
    }
    a {
      display: inline-block;
    }
  }

  form div {
    margin: 2em;
    padding: 2em;
    display: inline-block;
  }

  .suggestion {
    opacity: 0;
    transition: 0.5s all;
  }
}
