body {
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(#3cb2e9, #a7cce4);
  background-attachment: fixed;
  height: 100vh;
  margin: 0em;
  padding: 0em;
}

button {
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none;
}
label {
  display: block;
  font-size: 2em;
}
.story-container {
  display: flex;
  flex-direction: column;
  padding: 1em 3em;
}
.story-container .wordcount-save {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story-container .wordcount-save .save {
  flex-basis: 10em;
  margin: 1em;
  opacity: 0;
  transition: 0.5s all;
}
.story-container h1 {
  text-align: center;
  border-radius: 2em;
  border-color: black;
}
.auth-form-container {
  display: flex;
  flex-direction: row;
}
.auth-form-container h1 {
  flex: 2;
  padding-left: 5vw;
  padding-right: 5vw;
}
.nav-bar-container {
  padding-left: 1em;
  padding-right: 1em;
}
.user-home {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: center;
}
.user-home .welcome {
  flex: 0.75;
  font-size: 1.5em;
  text-align: center;
}
.user-home .buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.user-home .buttons button {
  background-color: #f44336;
  margin: 10px;
  padding: 0px;
  width: 20vw;
}
.user-home .button-room-of-own-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-bottom-container {
  display: flex;
  flex-direction: column;
}
.story-bottom-container .suggestion-container {
  flex: 1;
}
.suggestion,
.definitions,
.promptLoad {
  transition: 0.5s all;
  margin-right: 2em;
  margin-left: 2em;
  flex: 1;
  z-index: 10;
}
.promptLoad {
  position: absolute;
  margin-top: 10em;
  background-color: #ddd;
  border-radius: 20px;
  padding: 1em;
}
.story-bottom-container .definitions-container {
  flex: 1;
}
.download {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  align-items: center;
}
.download a {
  color: #ffffff;
  background-color: #df5c05;
  padding: 0.5em;
  border-radius: 10px;
}
.download a:hover {
  background-color: #d43c00;
}
.stories-list-container {
  padding-left: 5vw;
  padding-bottom: 2em;
  display: flex;
}
.stories-list-container h1 {
  padding-top: 1.5em;
  font-size: 3em;
}
.stories-list-container li {
  padding: 1em;
  font-size: 1.5em;
  margin-left: 1vw;
  margin-right: 20vw;
}
.stories-list-container li:hover {
  color: #df5c05;
}
nav {
  margin: 0em;
}
nav .nav-top-container {
  display: flex;
  justify-content: flex-start;
}
nav div h1 {
  margin: 0em;
}
nav a {
  display: inline-block;
  font-size: 1.5em;
  align-self: center;
  color: #e92315;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  margin: 2em;
}
form div {
  margin: 1em;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
}
h4 {
  text-align: center;
}
.dropbtn {
  background-color: #f44336;
  color: #ffffff;
  padding: 0.5em;
  font-size: 1em;
  width: 10em;
}
.dropdown-container,
.login-signup {
  flex: 1;
  margin: 0em;
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
}
.dropdown-options {
  display: flex;
}
.dropdown-options div, button {
  cursor: pointer;
}
.dropdown-container > *,
.login-signup > * {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}
.dropdown-buttons-container {
  display: flex;
  margin: 0em;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #000000;
  z-index: 1;
}
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content div:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #c42216;
}
i {
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.title {
  font-size: 2em;
}

.bottom-headers, .bottom-content {
  display: flex;
  justify-content: space-around;
}

.bottom-header {
  font-size: 1.5em;
}

.bottom-header.definition-header {
  text-align: right;
}

.definition-for {
  font-size: 1.75em;
  text-align: center;
  text-decoration: underline;
}

.part-of-speech {
  font-size: 1.25em;
  text-align: center;
  font-style: italic;
}

.definition {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}

hr {
  width: 100%;
}

.welcome-message {
  font-size: 3em;
  margin: 1em;
  flex: 2;
}

.submit-button {
  background-color: #df5c05;
  border-radius: 5px;
  font-size: 1em;
  padding: 0.5em 1em;
}

.suggestion-button {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #f1f1f1;
  font-size: 1em;
}

.suggestion-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown.metamorphoses {
  cursor: default;
  pointer-events: none;
}

.dropdown.metamorphoses button {
  background-color: rgb(99, 55, 55);
}

@media screen and (max-width: 600px) {
  .stories-list-container {
    flex-direction: column;
  }

  .dropdown-container {
    justify-content: center;
  }

  .title {
    font-size: 1em;
    align-self: center;
  }

  nav a {
    font-size: 1em;
  }

  .dropdown.metamorphoses {
    display: none;
  }

  .bottom-header {
    font-size: 0.75em;
  }

  .definition-for, .part-of-speech, .definition {
    text-align: right;
  }

  .definition-for {
    font-size: 1.25m;
  }

  .part-of-speech {
    font-size: 0.75em;
  }

  .definition {
    font-size: 1em;
  }

  .welcome-message {
    font-size: 1.5em;
    text-align: center;
  }

  .auth-form-container {
    flex-direction: column;
  }

  form div {
    margin-left: 1em;
  }

  label {
    font-size: 1.5em;
  }
}
